body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#star-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#content {
    position: relative;
    z-index: 2;
    color: white;
    padding: 20px;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
}
