name: Generate Sitemap

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'sitemap.xml'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      BASE_URL: https://meow.autos

    steps:
      - name: Checkout repository content
        uses: actions/checkout@v3

      - name: Generate sitemap.xml
        run: |
          echo '<?xml version="1.0" encoding="UTF-8"?>' > sitemap.xml
          echo '<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">' >> sitemap.xml
          for file in $(find . -name "*.html"); do
            file=${file:2}  # Remove the "./" prefix
            echo "  <url><loc>${BASE_URL}/$file</loc></url>" >> sitemap.xml
          done
          echo '</urlset>' >> sitemap.xml

      - name: Commit and push sitemap
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "GitHub Actions"
          git add sitemap.xml
          git commit -m "Update sitemap"
          git push
